.accordion-list.horizontal {
  display: flex;
}
.accordion-list.horizontal .accordion-item {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.accordion-list.horizontal .accordion-content {
  transition: opacity var(--accordion-time) ease, visibility var(--accordion-time) ease;
}
.accordion-list.horizontal .accordion-item:not(.active) .accordion-content {
  opacity: 0;
  visibility: hidden;
}
.accordion-list.horizontal .accordion-item:not(.active) {
  max-width: 100px;
}
.accordion-list.horizontal .accordion-item.active {
  max-width: 100%;
}
.accordion-item {
  border: 1px solid black;
  transition: border var(--accordion-time) ease, background var(--accordion-time) ease, max-width var(--accordion-time) ease;
}
.accordion-btn {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
  cursor: pointer;
  transition: color var(--accordion-time) ease, background var(--accordion-time) ease;
}
.accordion-list.horizontal .accordion-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.accordion-list.horizontal .accordion-btn.active::before {
  display: none;
}
.accordion-btn.active {
  background-color: bisque;
}
.accordion-content.collapsing {
  height: 0;
  overflow: hidden;
  transition: height var(--accordion-time) ease;
}
.accordion-list.horizontal .accordion-content.collapsing {
  height: auto;
}
.collapse:not(.show) {
  display: none;
}
.accordion-list.horizontal .collapse:not(.show) {
  display: block;
}
.collapse.show {
  display: block;
}