.accordion-list {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-btn {
  padding: 0;
  width: 100%;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: background-color var(--accordion-time) ease, color var(--accordion-time) ease;
}

.accordion-btn.accordion-btn-active {
  background-color: green;
}

.accordion-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 20px;
  will-change: max-height;
  transition: will-change var(--accordion-time) ease, max-height var(--accordion-time) ease, opacity var(--accordion-time) ease;
  box-sizing: content-box;
}

.accordion-content.show {
  opacity: 1;
}

.arrow-icon {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #6980fe transparent transparent;
  transition: transform var(--accordion-time) ease, border var(--accordion-time) ease, background-color var(--accordion-time) ease;
  pointer-events: none;
}

.arrow-icon.icon-active {
  border-color: transparent blue transparent transparent;
  transform: rotate(90deg);
}